*{
    background-color: aqua;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
 
.container { 
    display: flex;
    background-color: gray;
}
.display {
    background-color: grey;
    height: 100px;
    width: 305px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.btn {

}